*{
     font-family: 'Open Sans', sans-serif;
     margin: 0;
     padding: 0;
}
body{
    background-color: #eee;
}

.slidmenu{
    background-color: black;
    margin: 0;
    padding: 30px 20px;
    position:fixed;
    box-sizing: border-box;
    width: 300px;
    height: 100%;
    transition: width 1s ease;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}


.slidmenu .top-section .logo{
width: 40px;
height: 40px;

}

.slidmenu.inactive{
    width: 80px;
}

.slidmenu .top-section .logo img{
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: inline-block;
}
.slidmenu .top-section {
    position: relative;
}
.slidmenu .top-section .toggle{
    color: #333;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    transition: right 1s ease;
}
.slidmenu.inactive .toggle{
   right: -50px;
   transform: rotate(180deg);
}



.slidmenu .search input[type=text]{
    width: 100%;
    background-color: #333;
   
    border: 0;
    outline: none;
    margin:20px 0;
    height: 35px;
    border-radius: 5px;
    display: block;
    padding-left:  40px;
    box-sizing: border-box;
    color: #666;
}

.slidmenu .search .searchBtn{
    color: #666;
    position: absolute;
    background-color: transparent;
    font-size: 20px;
    border: 0;
    width: 40px;
    height: 35px;
  
    text-align: center;
}

.slidmenu .divider{
    height: 1px;
    width: 100%;
    background-color: #666;
    border-radius: 1px;
}

.slidmenu .main-menu .main-menu-item{
    color: #666;
    font-size: 15px;
    font-weight: 700;
   opacity: 1;
    text-decoration: none;
    display: block;
    cursor: pointer;
   

}
.slidmenu .main-menu .main-menu-item span{
position: absolute;
line-height: 40px;
transition: opacity 1s ease;

}
.slidmenu.inactive .main-menu .main-menu-item span{
   opacity: 0;
   height: 0;
   width: 0;
   overflow: hidden;
    }
.slidmenu .main-menu{
    margin: 15px 0;
}
.slidmenu .main-menu .main-menu-item .mainmenu-icon{
    display: inline-block;
   height: 40px;
   width: 40px;
   line-height: 40px;
   text-align: center;
   

}

.slidmenu .main-menu .submenu{
    color: #666;
    margin-left: 20px;
    box-sizing: border-box;
    border-left: 1px solid #666;
    padding-left: 30px;
    height: 0;
    overflow:hidden;
    transition: height 0.2s ease;
}
.slidmenu .main-menu .submenu.active{
    height:auto ;
   
}

.slidmenu .main-menu .submenu a{
    display: block;
    margin: 5px 0;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 600;

}
.slidmenu .sidemenu-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #666;
    width: 100%;
}

.slidmenu .sidemenu-footer .user-image{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 5px 0;

}
.slidmenu .sidemenu-footer .user-image img{
    width: 100%;
    height: 100%;
}
.slidmenu .sidemenu-footer .userinfo{
    display: inline-block;
    margin: 5px 5px;
    position: absolute;
    opacity: 1;
    transition: opacity 1s ease;
}
.slidmenu .sidemenu-footer .userinfo h5{
    font-size: 15px;
    font-weight: 600;
}
.slidmenu .sidemenu-footer .userinfo p{
    font-size: 14px;
    
}
.slidmenu.inactive .sidemenu-footer .userinfo{
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.test{
    margin-left: 305px;
    transition: margin-left 1s ease;
    position: absolute;
    top: 5px;
}
.test.inactive{
    margin-left: 85px;
}